@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}
/* navbar */

nav .nav-item{
    display: flex;
    align-items: center;
}

nav {
    color: #ffffff;
    align-items: center;
    border-bottom: 1px #ffffff solid;
    position: relative;
}

.nav-left .logo-img img {
    width: 45px;
    padding: 15px 0 10px 0;
}

.nav-left {
    display: flex;
    margin-left: 30px;
}

.nav-left h3 {
    align-items: center;
    padding-top: 25px;
    padding-left: 10px;
    font-family: 'Roboto Slab', sans-serif;
}

.nav-right {
    margin-left: auto;
    margin-right: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    font-family: 'Roboto Slab', sans-serif;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #DB6400;
    position: absolute;
    bottom: -29.7px;
    left: 0;
    transition: 0.5s;

}
nav ul li:hover::after{
    width: 100%;
}

nav ul li a {
    color: #ffffff;
    font-size: 16px;
}

nav ul li a:hover{
    font-weight: bold;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    margin-right: 30px;
}
/* Jumbotron */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./images/jumboimg.jpg);
    background-size: cover;
    position: center;
}

.introducingBanner {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; 
    
}
.introducingBanner h1 {
    color: #ffffff;
    font-size: 50px;
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'Roboto Slab', sans-serif;
}

.introducingBanner p {
    color: #ffffff;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.introducingBanner button {
    width: 200px;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #DB6400;
    background: transparent;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
}

.introducingBanner button span {
    background: #DB6400;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 25px;
    transition: 0.5s;
}

.introducingBanner button:hover span {
    width: 100%;
}

.introducingBanner button:hover {
    border: none;
}

/* About Us */
.about-us {
    padding: 70px;
}

.about-us-item {
    overflow: auto;
    margin-top: 60px;
    justify-content: space-between;
}

.about-us-item-1{
    margin-right: 10px;
}

.about-us h6{
    color: #363431;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #16697A;
    padding-bottom: 15px;
    width: fit-content;
    margin: auto;
}

.about-us-item {
    position: relative;
    width: 100%;
}

.about-us-item article {
    float: right;
    width: 70%;
}
.about-us h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Roboto Slab', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}

.heading-about-us {
    margin-bottom: 30px;
}

.about-us p {
    line-height: 1.5;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
aside h4{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
}

table {
    margin: auto;
}
td {
    padding: 4px;
}

/* Aside */
aside {
    width: 20%;
    float: left;
    text-align: center;
    color: #363431;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    border: 2px solid #DB6400;
    margin: auto;
}

aside img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

.social-icon {
    margin: 15px auto;
}

.social-icon a{
    padding: 10px;
}


/* Services we offer */
.services-we-offer {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(rgba(22, 105, 122,0.75), rgba(22, 105, 122,0.75)), url(./images/worldMap.png);
    align-items: center;
    text-align: center;
}

.services-we-offer h5{
    /* padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px; */
    color: #ffffff;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #DB6400;
    padding-bottom: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

/* .services-item {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    color: #ffffff;
}

.services-item::-webkit-scrollbar {
    display: none;
}

.services-card {
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    margin-right: 40px;
    border: 2px solid #16697A;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.services-card:hover {
    box-shadow: 0px 0px 10px #363431;
} */

.pre-btn, .nxt-btn {
    border: none;
    background: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    box-shadow: 5px black;
}

.pre-btn {
    left: 30px;
    transform: rotate(90deg);
}

.nxt-btn {
    right: 30px;
    transform: rotate(270deg);
}

.pre-btn img, .nxt-btn img {
    opacity: 0.5;
    height: 50px;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.services-item {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    color: #ffffff;
    /* position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    padding : 30px;
    overflow-x: auto; */
}

.services-item::-webkit-scrollbar {
    display: none;
}

.services-item .services-card {
    position: relative;
    max-width : 300px;
    height : 225px;  
    border: 3px solid #DB6400;
    padding : 30px 10px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.services-card {
    flex: 0 0 auto;
    margin-right: 30px;
}


.services-item .services-card:hover {
    height : 320px;  
}

.services-item .services-card .image-title {
    text-align: center;
    align-items: center ;
    margin-top: 60px;
    transition : 0.3s ease-in-out;
}

.services-item .services-card .image-title h3{
    font-family: 'Roboto Slab', sans-serif;
}

.services-item .services-card:hover .image-title {
    margin-top: 10px;
    transition-delay: 0.3s;
}
.services-item .services-card .image-title:hover {
    margin-top: 10px;
    transition-delay: 0.3s;
}

.services-item .services-card .image-title span {
    max-width: 100%;
}

.services-item .services-card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    text-align : center; 
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
}

.services-item .services-card .content p{
    line-height: 1.5;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}


.services-item .services-card:hover .content {
    margin-top : 150px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.3s;
} 

/* TESTIMONIALS */
/* .testimonials {
    min-height: 100vh;
    float: left;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(rgba(22, 105, 122,0.9), rgba(22, 105, 122,0.9)), url(./images/worldMap.png);
    padding: 50px;
}

.testimonials .title h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    margin: 40px;
}

.testimonials .slider {
    background-color: rgba(248, 241, 241, 0.5);
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.testimonials .slider .slide {
    display: none;
}

.testimonials .slider .slide.active{
    display: block;
    animation: slide 1s ease;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}


.testimonials .slider p {
    font-size: 18px;
    color: #ffffff;
}

.testimonials .slider .client-info h3 {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0 10px;
}

.testimonials .slider .client-info span {
    display: block;
    font-size: 16px;
    color: #DB6400;
    font-weight: bold;
}

.testimonials .slider-indicator {
    text-align: center;
    padding-top: 30px;
}

.testimonials .slider-indicator img {
    max-height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.2;
    border: 8px solid #ffffff;
}

.testimonials .slider-indicator img.active {
    animation: slideimg 1s ease-in-out;
    max-height: 110px;
}

@keyframes slideimg {
    0%{
        max-height: 80px;
    }

    25%{
        max-height: 100px;
    }

    100%{
        max-height: 110px;
    }
}

.testimonials .slider-indicator img.active {
    opacity: 1;
} */


/* FOOTER */
footer {
    position: relative;
    margin: 40px 0;
}


.footer {
    display: flex;
    margin: auto;
    justify-content: center;
}

.footer-item {
    margin-right: 40px;
    width: 300px;
}

.ht-footer{
    float: left;
}

.ht-footer .logo-footer .logo-img img {
    width: 45px;
    padding: 15px 0 10px 0;
}

.ht-footer .logo-footer{
    display: flex;
}

.ht-footer .logo-footer h5{
    font-size: 20px;
    align-items: center;
    padding-top: 27px;
    padding-left: 10px;
    color: #DB6400;
}

.footer-item h5{
    margin-bottom: 20px;
    color: #DB6400;
    font-family: 'Roboto Slab', sans-serif;
}

.contact-us {
    float: left;
}


.contact-us-elem {
    margin-bottom: 20px;
    display: inline;
}
.contact-us-elem span {
    margin-right: 10px;
    display: inline;
}

.contact-us-item .contact-us-elem p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
}

.what-we-offer-footer {
    float: left;
}

.what-we-offer-footer-item p {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
}

.quick-links {
    float: left;
}

.quick-links-item a{
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 13px;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
}



.footer-text p{
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.footer-text {
    border-top: 2px solid #DB6400;
}


@media screen and (max-width: 1280px) {
    .about-us-item article {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .about-us-item {
        align-items: center;
    }
    .about-us-item aside{
        float: none;
        width: 80%;
    }

    .about-us article {
        float: none;
        width: 80%;
        margin: auto !important;
        margin-top: 40px !important;
    }

    .about-us article h2, .about-us article p {
        text-align: center;
    }
}
@media screen and (max-width: 670px) {
    .toggle-button{
        display: flex;
        top: 30px;
    }

    .nav-item {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        align-items: flex-start !important;
        display: unset !important;
    }
    .nav-right {
        display: none;
        width: 100%;
    }

    .nav-right ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-right li {
        text-align: center;
        padding: 4.5rem 1rem;
    }
    
    .nav-right li:hover {
        background-color: rgba(255,255,255,0.5);
        transition: 2s;
    }

    .nav-right.active{
        display: flex !important;
        margin-bottom: 30px;
    }

    a.active{
        width: fit-content;
    }

    .navbar.active{
        animation: navbar 1s ease;
        background-color: rgba(10, 26, 51, 1);
        z-index: 8;
        border-bottom: #DB6400;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }

    nav ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: none;
        position: absolute;
        bottom: -29.7px;
        left: 0;
        transition: 0.5s;
    
    }

    @keyframes navbar{
        0%{
            opacity: 0;
            transform: translateY(20px,10px);
        }
    
        100%{
            opacity: 1;
            transform: translateY(20px,20px);
        }
    }

    /* Banner */
    .introducingBanner h1 {
        font-size: 30px;
    }

    /* About us */
    .about-us {
        padding: 20px;
    }
    .about-us-item {
        padding: 10px !important;
    }

    aside {
        width: 100%;
    }

    /* footer */
    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: unset !important;
    }
}